.container{
    width: 100%;
}

.containerTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40PX;
}

.containerTitle span{
    font-size: 32px;
    font-weight: 600;
    line-height: 48PX;
}

.containerSearch{

}
