.container {
  width: 100%;
}

.containerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.containerTitle span {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

.containerSearch {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.containerSearch input {
  width: 100%;
  height: 60px;
  padding: 18px 234px 18px 34px;
  border-radius: 46px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #d9d9d9;
}

.containerSearch button {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
  height: 60px;
  border-radius: 46px;
  border: none;
}

.containerCards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 28px;
    margin-top: 54px;
}

.containerCardsEl{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 237px;
    height: 296px;
    border-radius: 20px;
    gap: 15px;

}

.containerCardsEl img:nth-of-type(1){
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(0.6); 
    transition: all 0.5s ease;
}

.containerCardsEl:hover img:nth-of-type(1){
    filter: brightness(1); 
}

.containerCardsEl img:nth-of-type(2){
    z-index: 1;
    /* margin-top: 68px; */
}

.containerCardsEl span{
    z-index: 1;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 125px;
    text-align: center;
}


@media (max-width: 768px) {

    .container {
        width: 100%;
        padding: 22px;
      }
      
      .containerTitle {
        margin-top: 10px;
      }
      
      .containerTitle span {
        display: flex;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
      }
      
      .containerSearch {
        display: flex;
        position: relative;
        width: 100%;
        margin-top: 14px;
        padding: 23px;
      }
      
      .containerSearch input {
        width: 100%;
        height: 60px;
        padding: 13px 23px;
        border-radius: 46px;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #d9d9d9;
      }
      
      .containerSearch button {
        display: none;
      }
      
      .containerCards{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          gap: 28px;
          margin-top: 54px;
      }
      
      .containerCardsEl{
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: center;
          justify-content: center;
          width: 237px;
          height: 296px;
          border-radius: 20px;
          gap: 15px;
      
      }
      
      .containerCardsEl img:nth-of-type(1){
          display: flex;
          height: 100%;
          width: 100%;
          position: absolute;
          object-fit: cover;
          border-radius: 20px;
          filter: brightness(0.6); 
          transition: all 0.5s ease;
      }
      
      .containerCardsEl:hover img:nth-of-type(1){
          filter: brightness(1); 
      }
      
      .containerCardsEl img:nth-of-type(2){
          z-index: 1;
          /* margin-top: 68px; */
      }
      
      .containerCardsEl span{
          z-index: 1;
          color: #fff;
          font-size: 16px;
          font-weight: 700;
          width: 125px;
          text-align: center;
      }
      

}