.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  outline: 1px solid red;
}

.imgBack{
  display: flex;
  position: relative;
}

.container img{
  width: 100%;
  po
}

@media (max-width: 768px) {
}
