.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 0;
}

.containerLeft {
  width: 105px;
  height: 98px;
}

.containerLeft img {
  width: 100%;
  height: 100%;
}

.containerCenter {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.containerCenter a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.containerRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.containerRightColl {
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding: 24px 32px;
  }

  .containerLeft {
    width: 55px;
    height: 52px;
  }

  .containerLeft img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }

  .containerCenter {
    display: none;
    align-items: center;
    gap: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
  }

  .containerCenter a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }

  .containerRight {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .containerRightColl {
    display: none;
  }

}
