.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 0;
}

.containerLeft {
  width: 105px;
  height: 98px;
}

.containerLeft img {
  width: 100%;
  height: 100%;
}

.containerCenter {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.containerCenter a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.containerRight {
  display: flex;
  align-items: center;
  gap: 30px;
}

.containerRightColl {
  display: none;
}

.containerRightColl {
  display: none;
}

.dropdownMenu {
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding: 24px 32px;
  }

  .containerLeft {
    width: 55px;
    height: 52px;
  }

  .containerLeft img {
    width: 100%;
    height: 100%;
  }

  .containerCenter {
    display: none;
  }

  .containerCenter a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }

  .containerRight {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .containerRightColl {
    display: flex;
    cursor: pointer;
  }

  .dropdownMenu {
    display: flex;
    position: fixed;
    top: 80px;
    right: -10px;
    width: 170px;
    /* height: 220px; */
    background-color: #fff;
    box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .dropdownMenu.show {
    transform: translateX(0);
  }

  .dropdownMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdownMenu li {
    margin-bottom: 15px;
  }

  .dropdownMenu li:last-child {
    margin-bottom: 0;
  }

  .dropdownMenu li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
  }

  .dropdownMenu li a:hover {
    color: #e5097f;
  }
}
